.link {
  color: white;
  margin: 10px 20px 0 20px;
}

.link:hover {
  text-shadow: 0px 0px 10px yellow;
}

.paragraph {
  margin: 0 20px;
}

.link,
.paragraph {
  align-self: start;
  text-align: start;
}
